{% extends "base.html" %}
{% block content %}
    <div class="main">
        <h1>登録情報確認</h1>
        <h3>下記の内容でよろしいでしょうか？</h3>
        <form action="{{ url_for('confilm') }}" method="post">
            <div class="form-group">
                <label>氏名</label>
                <p>{{ session.name }}</p>
            </div>
            <div class="form-group">
                <label>メールアドレス</label>
                <p>{{ session.email }}</p>
            </div>
            <div class="form-group">
                <label>生年月日</label>
                <p>{{ session.birthday }}</p>
            </div>
            <input type="submit" value="登録" class="button">
            <a class="btn_return" href="/get">戻る</a>
        </form>
    </div>
{% endblock %}